.about-content{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    gap: 30px;
}
.about-image{
    width: 390px;
    height: 353.656px;
    background-image: url(../image/about.png);
    background-size: cover;
}
.about-us .about-title{
    width: 55px;
    height: 15px;
    color: #6C6C6C;
    font-family: Merriweather;
    font-size: 12px;
    font-weight: 400;
}
.about-title 
.abt{
    padding-bottom: 5px;
    border-bottom: 1px solid #C82424;
}
.about-header{
    width: 368px;
    height: 69px;
    color: #000;
    font-family: Merriweather;
    font-size: 28px;
    font-weight: 700;
}
.about-header span{
    color: #C82424;
}
.abt-description{
    width: 390px;
    height: 80px;
    color: #6C6C6C;
    font-family: Merriweather;
    font-size: 13px;
    font-weight: 400; 
}
.about-list{
    color: #6C6C6C;
    font-family: Merriweather;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.abt-list li{
    list-style-type:square;
}
.free-consulting{
    padding: 10px;
}
.free-cslt{
    color:#FFFFFF;
    width: 124px;
    height: 38px;
    border-radius: 5px;
    background: #C82424;  
}

/* tablet screen */
@media (min-width:601px){
.about-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding: 30px;
}
.about-image{
    width: 778px;
    height: 703.685px;
    background-image: url(../image/about.png);
    background-size: cover;
}

.about-header{
    width: 617px;
    height: 75px;
    font-size: 33px;
    
}
.abt-description{
    width: 713px;
    height: 60px;

}
}
