.bottom{
    background-color: #C82424;
    width: 390px;
    height: 423px;
    color: #FFF;
    font-family: Merriweather;
}
.bottom .bottom-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 31px 23px 0px 19px;
}
.bottom .bottom-title{
    width: 348;
    height: 75px;
    font-size: 20px;
    font-weight: 700;
}
.bottom .bottom-description{
    width: 352px;
    height: 126px;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}
.bottom .bottom-signature{
    width: 96px;
    height: 39px;
}
.bottom-name{
    font-family: Merriweather;
    font-size: 14px;
    font-weight: 700;
}
.bottom-job-title{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px;
}
.bottom-video{
    position: relative;
    width: 390px;
    height: 325px;
    background-image: url(../image/video\ img.png);
    background-size: cover;
}

.youtube-video{
    padding-top: 30px;
}
.bottom-video-container{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #C82424; 
    border-radius: 50%;
    left: 155px;
    bottom: 123px;  

}
.bottom-video .play-icon{
    color: #FFF;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 30px;
    bottom:30px;
}

/* media tablet device */
@media (min-width:601px) {
.bottom{
        width: 637px;
        height: 423px;
        align-content: center;
        margin-left: 50px;
}
.youtube-video{
        margin-left: 50px;
}
.bottom-video{
       width: 637px;
}
.bottom-video-container{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #C82424; 
    border-radius: 50%;
    left: 299px;
    bottom: 50px; 
}
}
