.services{
    display: flex;
    flex-direction: column;
    width: 390px;
    color: #FFF;
    font-family: Merriweather;
    
}
.services .services-content{
    background-color: #C82424;
    padding: 31px 23px 31px 19px;
}
.services .services-title{
    width: 348;
    height: 75px;
    font-size: 20px;
    font-weight: 700;
}
.services .services-description{
    width: 352px;
    height: 126px;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}
.services .services-signature{
    width: 96px;
    height: 39px;
}
.services-name{
    font-family: Merriweather;
    font-size: 14px;
    font-weight: 700;
}
.services-job-title{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px;
}
.services-video{
    position: relative;
    width: 390px;
    height: 325px;
    background-image: url(../image/video\ img.png);
    background-size: cover;
}

.youtube-video{
    padding-top: 30px;
}
.services-video-container{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #C82424; 
    border-radius: 50%;
    left: 155px;
    bottom: 123px;  

}
.services-video .play-icon{
    color: #FFF;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 30px;
    bottom:30px;
}

/* media tablet device */
@media (min-width:601px) {
.services{
        margin-left: 50px;
    }
.services-content{
        width: 637px;
        height: 423px;
        align-content: center;
}
.services-video{
       width: 637px;
}
.services-video-container{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #C82424; 
    border-radius: 50%;
    left: 299px;
    bottom: 70px; 
}
}
/* media desktop device */
@media (min-width:970px){
 .services{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 1280px;
 }
 .services-video{
     width: 596px;
     height: 517px;
     margin-top: -10%;
 }

 .services-video-container{
    position: absolute;
    width:  110px;
    height: 110px;
    background-color: #C82424; 
    border-radius: 50%;
    left: 260px;
    bottom: 199px; 
 }
.services-video .play-icon{
    color: #FFF;
    position: absolute;
    width: 34px;
    height: 34px;
    left: 40px;
    bottom:40px;
}

}
